// custom variables

$primary-light: #f5f5f5;
$text-light: #000000;
$header-light: rgba(234, 234, 234, 0.7);
$underline-light: rgb(27, 27, 27);

$text-dark: #ffffff;
$header-dark: rgba(74, 74, 74, 0.7);
$underline-dark: rgb(191, 191, 191);

$hero-font-size: clamp(2rem, 2vw + 0.5rem, 4rem);
$header-font-size: clamp(1.2rem, 2vw + 0.1rem, 2.2rem);
$body-font-size: clamp(1.125rem, 2vw + 0.1rem, 1.8rem);
$custom-box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.05);
$horizontal-padding: 3rem;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: $primary-light;
    position: relative;

    display: grid;
    align-items: center;

    .logo {
        max-width: 5rem;
    }

    button {
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .underline {
        text-decoration: underline;
        cursor: pointer;
    }

    strong, h1, h2, h3, p, a {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: $hero-font-size;
        font-weight: 500;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: 80rem;
    }

    h2 {
        font-size: $header-font-size;
        font-weight: 500;
    }

    h3 {
        max-width: 80rem;
        font-size: $body-font-size;
        font-weight: 400;
        text-align: justify;
    }

    .spanned {
        font-size: clamp(1rem, 2vw + 0.1rem, 1.2rem);
        font-weight: 400;

        span {
            margin-left: 1rem;
            font-weight: 500;
        }
    }

    .icon {
        width: 2rem;
    }
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
    background: $primary-light;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
}

aside.contact_section {
    background-color: white;
    border: 1px solid black;
    box-shadow: $custom-box-shadow;
    position: fixed;
    padding: 2rem;
    right: 0rem;
    bottom: 0rem;
    gap: 1rem;
    display: none;
    z-index: 1000000;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .socials {
        display: flex;
        align-items: center;
        gap: 1rem; 
    }
}
.contact_section.active {
    display: grid;
}

header, footer {
    display: grid;
    align-items: center;
    // justify-content: center;
    z-index: 1000;
    background: $header-light;
    backdrop-filter: blur(40px);

    .separator {
        width: 100%;
        height: 1px;
        background: $underline-light;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 120rem;
        padding: 1.25rem $horizontal-padding;
        gap: 3rem;

        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;

            button {
                font-size: 1rem;
                cursor: pointer;
                color: black;
            }
        }
    }
}

header {
    position: fixed;
    min-width: 100vw;
    top: 0;
}

section {
    display: grid;
    padding: $horizontal-padding;
    max-width: 120rem;
    gap: 2rem;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .underline {
            width: 100%;
            height: 1px;
            background: $underline-light;
        }
    }

    .content {
        display: grid;
    }
}

section.intro_section {
    display: grid;
    place-items: center;
    position: relative;

    .content {
        align-items: center;
        justify-content: center;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {       
            width: 100%;
            max-width: 22rem;
            // -webkit-filter: grayscale(1);
            // filter: grayscale(1);
        }
    }

    .scroll_icon {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        background: rgba(255, 255, 255);
        border-radius: 100%;
        padding: 1rem;
        display: flex;
        place-items: center;
        flex-direction: column;
        gap: 0.1rem;

        .icon {
            animation: scroll_down 2s linear alternate infinite;
        }
    }
}

section.skills_section {
    background: white;

    .header {
        align-items: center;
    }

    .skills_links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        align-items: center;
        gap: 1rem;

        div.skill {
            display: inherit;
            place-items: center;
            gap: inherit;

            img {
                width: 5rem;
                aspect-ratio: 1/1;
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
            }
        }        
    }
}

section.projects_section {
    .content {
        grid-template-columns: 
            repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1rem;

        .project_card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            .content {
                position: relative;
                transition: all 200ms ease-in-out;
                background: white;
                cursor: pointer;
                max-width: 100%;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                padding: 1rem;

                img {
                    height: 100%;
                    object-fit: contain;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(44, 44, 44, 0.5);
                    backdrop-filter: blur(5px);
                    display: grid;
                    filter: opacity(0);
                    place-items: center;
                    transition: all 200ms ease-in-out;

                    img {
                        filter: invert(1);
                    }
                }
            }

            .content:hover {
                box-shadow: $custom-box-shadow;

                .overlay {
                    filter: opacity(1);
                }
            }
        }        
    }
}

section.about_section {
    .content {
        display: grid;
        align-items: center;
        justify-content: center;
    }
    
    .circular_text {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            animation: rotate 10s linear infinite;
            max-width: 80%;
        }
    }
}

//animations
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scroll_down {
    0% {
        opacity: 0.5;
        transform: translateY(0rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0.2rem);
    }
}

// responsive 
@media screen and (max-width: 25rem) {
    header, footer {
        .content {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
    
    section {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 30rem) {
    header, footer {
        .content {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    
    section {
        padding: 2rem;
    }
}

@media screen and (max-width: 32rem) {
    header {
        .content {
            gap: 1rem;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 60rem) {
    section.intro_section {
        .content {
            h1 {
                text-align: center;
            }
        }
    }
}