body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  position: relative;
}
body .logo {
  font-family: "Playwrite BE WAL", cursive;
}
body button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: black;
}
body .underline {
  text-decoration: underline;
  cursor: pointer;
}
body strong, body h1, body h2, body h3, body p, body a {
  margin: 0;
  padding: 0;
}
body h1 {
  font-size: clamp(2.5rem, 1vw + 0.5rem, 3.5rem);
}
body h2 {
  font-size: clamp(1.2rem, 2vw + 0.1rem, 2.2rem);
  font-weight: 500;
}
body h3 {
  font-size: clamp(1rem, 2vw + 0.1rem, 1.8rem);
  font-weight: 400;
  text-align: justify;
}
body .spanned {
  font-size: clamp(1rem, 2vw + 0.1rem, 1.2rem);
  font-weight: 400;
}
body .spanned span {
  margin-left: 1rem;
  font-weight: 500;
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
}

aside.contact_section {
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.05);
  position: fixed;
  padding: 2rem;
  right: 0rem;
  bottom: 0rem;
  gap: 1rem;
  display: none;
  z-index: 100;
}
aside.contact_section .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
aside.contact_section .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
aside.contact_section .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
aside.contact_section .socials img {
  width: 2rem;
}

.contact_section.active {
  display: grid;
}

header, footer {
  display: grid;
  align-items: center;
  z-index: 1000;
  background: whitesmoke;
}
header .separator, footer .separator {
  width: 100%;
  height: 1px;
  background: rgb(191, 191, 191);
}
header .content, footer .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3.125rem;
}
header .content .links, footer .content .links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .content .links button, footer .content .links button {
  font-size: 18px;
  color: black;
  cursor: pointer;
}

header {
  position: sticky;
  background: white;
}

section {
  display: grid;
  padding: 3rem;
  gap: 2rem;
}
section .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
section .header .underline {
  width: 100%;
  height: 1px;
  background: black;
}
section .content {
  display: grid;
}

section.intro_section {
  display: grid;
  min-height: 70vh;
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
}
section.intro_section .content {
  text-align: center;
}
section.intro_section .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.intro_section .image img {
  max-height: 50vw;
  filter: grayscale(1);
}
section.intro_section .content {
  align-items: center;
}

section.skills_section {
  background: white;
}
section.skills_section .header {
  align-items: center;
}
section.skills_section .skills_links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
section.skills_section .skills_links div {
  display: inherit;
  justify-content: center;
}
section.skills_section .skills_links div img {
  width: 6rem;
  aspect-ratio: 1/1;
  filter: grayscale(1);
}

section.projects_section .content {
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1rem;
}
section.projects_section .content .project_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.projects_section .content .project_card .content {
  transition: all 200ms ease-in-out;
  background: white;
  cursor: pointer;
  max-width: 100%;
  aspect-ratio: 1/1;
}
section.projects_section .content .project_card .content:hover {
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.05);
}

section.about_section .content {
  display: grid;
  align-items: center;
  justify-content: center;
}
section.about_section .circular_text {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.about_section .circular_text img {
  animation: rotate 10s linear infinite;
  max-width: 80%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 38rem) {
  header .content, footer .content {
    gap: 1rem;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */